@CHARSET "UTF-8";

* { margin: 0; padding: 0; }
body { font: 1.3em "맑은 고딕", 돋움, 굴림; text-align: center; }
html, body { height: 100% !important; }
ul, ol { list-style-type: none }

h4 {
	font-weight: bold;
}

.admin-header {
	margin: 1em;
}

td.left-label {
	width: 20%;
	background-color: #999999;
	color: #fff;
	font-weight: bold;
}

.tbl-notice-list {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.tbl-notice-list td, .tbl-notice-list th {
	text-align: center;
}

#content {
	height: 5em;
	text-align: left;
}

#buttons {
	text-align: right;
	margin-right: 15%;
}

/* notice list */
#ntitle {
	text-align: left;
}

/* noticewrite */
#contents {
	height: 100%;
}

/* shop */
#goodsname {
	width: 60%;
	margin-left: 15%;
	margin-right: 2%;
}

#searchgoods {
	width: 5em;
}

/* admin 테이블 공통 */
#board th, #board td {
	vertical-align: middle;
}

#goodsimage {
	width: 5em;
	height: 5em;
}

/* 이미지 크기 */
.img-thumbnail	{
	height: 7em;
}