@CHARSET "UTF-8";
@import "readingbetter.css";

#board { margin:20px auto;	width:80%; }

.board-form {
	margin-top:30px
}

.tbl-ex		{
	width:100%;
	margin:10px auto; 
	border-collapse:collapse;
	border-bottom:2px solid #333;
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center;
	vertical-align: middle;
}
	
.tbl-ex th	{ 
	border-top:2px solid #333;
	border-bottom:2px solid #333; 
	background-color:#999; 
	font-size:1.1em; 
	color:#fff 
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.board-form .tbl-ex td {
	text-align:left
}

.board-form .tbl-ex td.label {
	text-align:right;
	font-weight:bold;
	width:60px; 
}

.board-form .tbl-ex input[ name='title' ] {
	width: 480px;
}

.board-form .tbl-ex textarea#content {
	width: 470px;
	height: 200px;
	padding: 10px;
	resize: none;
	outline: none;	
}

.board-form select {
	padding:5px;
}

tr.even td	{ background-color:#e8ecf6 }

.tbl-ex a { text-decoration:none; font-weight:bold; }

div.bottom {
	width:100%;
}

div.bottom a { 
	text-decoration:none; 
	dispaly:block;
}

a#new-book	 { 
	float:right; 
}

.board-form .bottom a,
.board-form .bottom input[type="submit"] {
	float:right;
	padding:10px 20px 10px 20px; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111;
	cursor: pointer	
}

.board-form .bottom a {
	margin-left: 10px;
	padding:10px 20px 11px 20px 
}

#button-set {
	text-align: right;
}

/* 
	board 폼
 */
td.board-no {
	text-align: right;
}

td.board-title {
	text-align: left;
}

th.th-board-no {
	width: 10%;
}

th.th-board-title {
	width: 50%;
}

td.board-content {
	text-align: left;
}

/*
	게시판 리스트 페이징
*/
div.pager {
	width:100%;
	text-align:center;
}
div.pager  ul {
	height:20px;
}
div.pager  ul li {
	margin-right: 1px; 
	width:10px ; 
	font-weight:bold; }
div.pager  ul li.selected { text-decoration: underline; color:#f40808 }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active { text-decoration: none; color:#555 }
div.pager  ul li a:hover { text-decoration: none; color:#f00 }

/* 검색 */
#search_form {
	width:100%;
	text-align:center; 	 
}

input[type="text"]	{
	padding:5px; 
	border:1px solid #aaa
}

input[type="submit"] {
	padding:5px; 
	border:1px solid #aaa;
	background-color: #aaa;
	font-weight:bold;
	color:#fff;
}

input#kwd	{
	width:250px;
}

/* 댓글 */
.tbl-ex th, 
.tbl-ex td   { 
   padding: 2px;    
}

#img-singo {
   width: 20px;
}

td#review-content {
   width: 60%;
}

td#review-modify {
   width: 70px;
}

form#review-writeform {
   width: 100%;
}

div.form-group {
   width: 100%;
}

#review {
   width: 85%;
}

/* wishbook */
/* 테이블 내부 가운데 정렬 */
#wishbookwrite #board td, #board th {
   vertical-align: middle;
   text-align: center;
}

/* 제출 버튼 크기 지정 */
#wishbookwrite #submit {
   text-align: center;
   width: 100px;
   height: 40px;
}

/* 버튼 정렬, 위치 지정*/
#buttonalign {
   text-align: right;
}

/* 답글 이미지 */
#re-img{
	width:30px;
	height:15px;
}